* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(54, 86, 146);
}
.container {
  text-align: center;
  /* color: aliceblue; */
}
.container h1 {
  color: lightgoldenrodyellow;
  font-size: 40px;
  margin: 10px 0;
}

ul#task_list {
  max-width: 500px;
  margin: 20px auto;
}

.task-creation input {
  padding: 10px;
}

.task-creation button {
  padding: 10px;
}
.display_area ul .item {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}
.display_area ul .item li {
  flex: 1;
  background: tomato;
  list-style: none;
  padding: 10px;
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.display_area ul .item button {
  height: 40px;
  width: 40px;
}
.display_area .item button i {
  font-size: 24px;
  pointer-events: none;
}
.complied_task {
  text-decoration: line-through;
  opacity: 0.5;
}
